/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}
.all{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr 2fr;
  height: 92vh;
  width: 100vw;
} 

.up{
  width: 100vw;
  height: 32vh;
  background-color:  #06365f;
  grid-column: 1 / span 3;
}
.upright{
      position: relative;
      top: -150px;
      left: -50px;
  
}
div h1{
  color:  #06365f;
}
.rd {
  border: 1px solid #06365f;
  border-radius: 5px;
  width: 40vw;
  height: 60vh;
  background-color: white;
   align-items: center;
  padding: 35px;
  border: none;
}
.ru {
  width: 40vw;
  height: 12vh;
  background-color: #06365f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.log{
  border: 2px solid white;
  color: white;
  border-radius: 5px;
  padding: 5px;
  background:  #06365f;
}
.bleft {
  width: 50vw;
  height: 60vh;
  background-image: url(../images/phones.png);
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  top: -150px;
  background-size: contain;
}
footer{
  width: 100vw;
  height: 8vh;

  color: #06365f;
}
.footerr{
 text-align: center;
  font-size: small;

}
a{
  text-decoration: none;
  color: #06365f;
  
}
a:hover{
  text-decoration: underline;
}
ul li {
padding: 10px;
  display: inline;
  
}
ul li a{
  text-transform: uppercase;
  font-weight: bold;
}